# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty


# Setup
title:            try {
                        sBurdan
tagline:          'Front-End Developer'
description:      'frontEndDeveloper( ) ; 
                    target="_blank">while</a> (aiming to create art through technology) { System.println<a href="https://linkedin.com/in/suzan-burdan-a847ba199" 
url:              https://www.suzanburdan.com/
baseurl:          https://www.suzanburdan.com/

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde

theme: jekyll-theme-cayman