# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty


# Setup
title:            Suzi
tagline:          'Front-End Developer'
description:      'Creating art through technology.     Contact <a href="http://linkedin.com/in/suzan-burdan-a847ba199" target="_blank">@in</a>.'
url:              https://www.suzanburdan.com/
baseurl:          https://www.suzanburdan.com/

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde

theme: jekyll-theme-cayman