# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty


# Setup
title:           try{ sBurdan
tagline:          'Learning to code [a little bit each day]'
description:      'frontEndDeveloper( ); <a href="url"> while </a> (aiming to create art through technology)  System.println(<a href="https://www.linkedin.com/in/suzan-burdan-a847ba199">contact @in</a>) }'
author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo
baseurl:          https://www.suzanburdan.com/
paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde

